$pink-900: #6e00bc;
$pink-800: #9900c4;
$pink-700: #ae00c9;
$pink-600: #c600cc;
$pink-500: #d700cf;
$pink-400: #e800de;
$pink-300: #ee02e4;
$pink-200: #f476eb;
$pink-100: #f9b1f2;
$pink-50: #fee0fa;

$blue-900: #1e3246;
$blue-800: #30475e;
$blue-700: #3f5a74;
$blue-600: #4e6e8b;
$blue-500: #5c7c9d;
$blue-400: #748fae;
$blue-300: #8aa4c0;
$blue-200: #a9bed6;
$blue-100: #c5d9ed;
$blue-50: #e5efff;

:export {
  pink_900: $pink-900;
  pink_800: $pink-800;
  pink_700: $pink-700;
  pink_600: $pink-600;
  pink_500: $pink-500;
  pink_400: $pink-400;
  pink_300: $pink-300;
  pink_200: $pink-200;
  pink_100: $pink-100;
  pink_50: $pink-50;
  blue_900: $blue-900;
  blue_800: $blue-800;
  blue_700: $blue-700;
  blue_600: $blue-600;
  blue_500: $blue-500;
  blue_400: $blue-400;
  blue_300: $blue-300;
  blue_200: $blue-200;
  blue_100: $blue-100;
}
