$pink-900: #6e00bc;
$pink-800: #9900c4;
$pink-700: #ae00c9;
$pink-600: #c600cc;
$pink-500: #d700cf;
$pink-400: #e800de;
$pink-300: #ee02e4;
$pink-200: #f476eb;
$pink-100: #f9b1f2;
$pink-50: #fee0fa;

$blue-900: #1e3246;
$blue-800: #30475e;
$blue-700: #3f5a74;
$blue-600: #4e6e8b;
$blue-500: #5c7c9d;
$blue-400: #748fae;
$blue-300: #8aa4c0;
$blue-200: #a9bed6;
$blue-100: #c5d9ed;
$blue-50: #e5efff;
