$pink-900: #b81d20;
$pink-800: #c7292c;
$pink-700: #d43033;
$pink-600: #e63a3a;
$pink-500: #f5433b;
$pink-400: #f05454;
$pink-300: #e57476;
$pink-200: #ef9b9c;
$pink-100: #ffced3;
$pink-50: #ffebef;

$blue-900: #1e3246;
$blue-800: #30475e;
$blue-700: #3f5a74;
$blue-600: #4e6e8b;
$blue-500: #5c7c9d;
$blue-400: #748fae;
$blue-300: #8aa4c0;
$blue-200: #a9bed6;
$blue-100: #c5d9ed;
$blue-50: #e5efff;
