@use "../variables/" as *;

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: $blue-700;
  padding: 1rem 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: var(--work-sans-font);
  font-size: 20px;
  color: white;
  z-index: 100;
}

.logoContainer {
  position: relative;
  height: 5vh;
  width: auto;
  aspect-ratio: 4/1;
}

.linksContainer {
  display: flex;
  gap: 3rem;
  list-style: none;

  .links {
    &:hover {
      color: $pink-600;
    }
  }
}

@include for-mobile {
  .desktopOnly {
    display: none;
  }
}
