@use "../variables/" as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;

  &.light {
    background-color: $blue-700;
  }
  &.dark {
    background-color: $blue-900;
  }
}

@include for-mobile {
  .container {
    padding: 0 1rem;
    min-height: 100vh;
    height: fit-content;
  }
}
